

.board {
	height: 50%;
	width: 50%;
	margin: 0 auto;	
}

.card {
	height: 200px;
	width: 150px;
	border: 1px black solid;
	background-color: yellow;
	border-radius: 10px;
	display: inline-block;
	margin: 50px;
}

h1 {
color: rgb(2,132,130);
}

h2 {
	color: #ffd700;
}

.name {
	color: #ff0000;
}

.topbarnav {
	background-color: #808080;

}

.topbarnav a:hover {
	background-color: #ee5f3c;
}


.topbarnav a {
	text-decoration: none;
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

.header {
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}


footer {
	background-color: #808080;
	text-align: center;	
}

